/**
 * Main CSS File
 * Imports all CSS modules in correct order
 *
 * Usage in HTML:
 * <link rel="stylesheet" href="static/css/main.css">
 */

/* Base Styles (must be first) */
@import './variables.css';
@import './base.css';

/* Component Styles */
@import './components/buttons.css';
/* @import './components/inputs.css'; */  /* TODO: Extract from webui.css */
/* @import './components/cards.css'; */   /* TODO: Extract from webui.css */

/* Feature Styles */
@import './features/chat.css';
/* @import './features/sidebars.css'; */  /* TODO: Extract from webui.css */
/* @import './features/navigation.css'; */ /* TODO: Extract from webui.css */
/* @import './features/settings.css'; */  /* TODO: Extract from webui.css */

/* Legacy (temporary - remove after full extraction) */
/* For now, keep webui.css for styles not yet extracted */
